@import (inline) "colorbox.css";

a.pagify-floating_index {
	font-weight: bold;
  font-family: Arial;
	color: black;
	font-size: 120%;
}

.background {
	position: absolute;
}

.other_backgrounds {
  opacity: 0.5;
}

.indexPage, .pagify-index-name, .pagify-index-title {
	text-align: center;
}

/* index page title */

.pagify-index-name {
	font-size: 300%;
	bottom: 50vh;
	z-index: 1000;
	position: absolute;
	width: 100%;
	font-weight: bold;
	pointer-events: none;
}
.pagify-index-title {
	font-size: 300%;
	top: 50vh;
	z-index: 1000;
	position: absolute;
	width: 100%;
	pointer-events: none;
}

/* index page lock and folder icons */

.pagify-index_page-entry {
	position: relative;
}

.entry-custom_auth {
	color: red;
	position: absolute;
	text-align: right;
	right: 5px;
	top: 5px;
	font-size: 200%;
}
.entry-custom_folder {
	color: black;
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 200%;
}

.entry_float-custom_auth {
	/*color: red;*/
	position: absolute;
	right: 0px;
	bottom: 10px;
	font-size: 150%;
}
.entry_float-custom_folder {
	color: black;
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 150%;
}








// o            >            +            #            °            ·            ^            :            |
//                                           CONTAINER

.pagify-container {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.pagify-pan {
	position: relative;
	transition-property: left;
	transition-duration: .2s;
	transition-timing-function: ease;
}

// o            >            +            #            °            ·            ^            :            |
//                                           PAGE

.pagify-page {

	position: absolute;
	display: block;

	//
	//                              DESCRIPTION PAGE

	&.description_page {
		background-color: grey;

		// DESCRIPTION
		.description-container {

			background-size: contain;
			color: white;
			width: 60%;
			left: 30%;
			bottom: 20%;
			height: 70%;
			display: block;
			position: absolute;
			text-align: justify;

			.description-content {
				font-family: Lato;
				max-height: 100%;
				overflow-y: auto;
				display: block;
				bottom: 0;
				position: absolute;
			}

		}

		// THUMBNAIL & TITLE AND TAGS
		.thumbnail, .title_and_tags {
			margin-left: 5%;
			width: 20%;
			position: absolute;
			display: block;
			padding: 0;
		}

		// TITLE AND TAGS
		 .title_and_tags {
			color: #CCC;
			font-family: Lato-Bold;
			text-align: left;
			bottom: 5%;
			max-height: 70%;
			overflow-y: auto;
		}

		.tag_text {
			font-family: Lato-Light;
		}

		// THUMBNAIL
		.thumbnail {
			height: 30%;
			top: 5%;
			background-repeat: no-repeat;
			background-size: contain;
		}

	}

	//
	//                              TITLE PAGE

	&.title_page {
		.title {
			font-family: Lato-Bold;
			text-align: left;
			margin-left: 5%;
			position: absolute;
			display: block;
			bottom: 5%;
			padding: 0;
		}
		iframe {
			width: 100%;
			height: 100%;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	//
	//                              SLIDE PAGE

	&.slide_page {
	}

	//
	//                              GALLERY PAGE

	&.gallery_page {
		text-align: center;
	}

	//                              ¬
	//

}

// o            >            +            #            °            ·            ^            :            |
//                                           INDICATORS

.pagify-page_indicator {

	position: absolute;
	bottom: 5%;
	display: block;
	text-align: center;
	width: 100%;

	.indicator_button {
		cursor: pointer;
		// color: @primary;
	}
	// .indicator_button:hover {
	// 	color: @hover;
	// }

}

// o            >            +            #            °            ·            ^            :            |
//                                           NAVIGATION ARROWS

.pagify-navigation-arrow {
	top: 45%;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 101;
	font-size: 200%;
	color: white;
}

.pagify-navigation-arrow:hover {
	color: cyan;
}

.pagify-navigation-arrow-left { left: 0; }
.pagify-navigation-arrow-right { right: 0; }

//
// o            >            +            #            °            ·            ^            :            |



.pagify-gallery-loading_wheel {
	font-size: 100px;
	z-index: 1000;
	position: absolute;
	display: block;
	width: 100px;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}
